@model FoodCourt.ViewModel.RegisterViewModel
@{
    ViewBag.Title = "Food Court";
}


<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Ultimate food-ordering debates solver</h4>
            <h5>Catchy phrase that we'll make up</h5>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control", placeholder = "Your email (i.e. johndoe@example.com)" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.GuestsEmails, new { @class = "form-control", placeholder = "Whom to invite? (i.e. emiliodoe@example.com,jennydoe@example.com)" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", placeholder = "Group name (i.e. Northwest Office, Kickass Frontend Team or your company name)" })
            </div>
            <p>
                <button type="submit" class="btn btn-success btn-lg">
                    Create
                </button>
            </p>
            <p>
                or
                <a href="@Url.Action("LogIn", "Account")">log in to an existing poll</a>.
            </p>
            <p><a href="#" id="debug">Debug</a></p>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#debug').click(function (e) {
                e.preventDefault();
                var randomPart = Math.floor((Math.random() * 100000000) + 1);
                $('input[type=text]:eq(0)').val('user' + randomPart + '@@virti.eu');
                $('input[type=text]:eq(1)').val('guest1' + randomPart + '@@virti.eu,guest2' + randomPart + '@@virti.eu');
                $('input[type=text]:eq(2)').val('group ' + randomPart);
            });
        });
    </script>
}
