@model FoodCourt.Models.LandingViewModel
@{
    ViewBag.Title = "Food Court";
}

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.TextBoxFor(m => m.AdminEmail, new { @class = "form-control", placeholder = "Your email" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.GuestsEmails, new { @class = "form-control", placeholder = "Emails of people to invite" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", placeholder = "Group name" })
            </div>
            <p>
                <button type="submit" class="btn btn-success btn-lg">
                    Create
                </button>
            </p>
            <p>
                or
                <a href="@Url.Action("LogIn", "Account")">log in to an existing poll</a>.
            </p>
            <p><a href="#" id="debug">Debug</a></p>
}
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#debug').click(function (e) {
                e.preventDefault();
                var randomPart = Math.floor((Math.random() * 100000000) + 1);
                $('input[type=text]:eq(0)').val('user' + randomPart + '@@example.dummytld');
                $('input[type=text]:eq(1)').val('guest@@example.dummytld');
                $('input[type=text]:eq(2)').val('group ' + randomPart);
            });
        });
    </script>
}