@model FoodCourt.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Set password";
}


<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 text-center">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Just one more step</h4>
            <h5>Set a password to your account so you can revisit <i>@ViewBag.GroupName</i> at any time</h5>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Your password" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Only once more, I promise"})
            </div>
            <p>
                <button type="submit" class="btn btn-success btn-lg">
                    Proceed
                </button>
            </p>
            <p>
                <a href="#" id="debug">Debug</a>
            </p>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#debug').click(function () {
                $('input[type=password]').val('111111');
            });
        });
    </script>
}
